{% extends 'layout.html' %}
{% block title %} Page Not found {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class=col">
            <h1> Page not found!!! </h1>
            <hr>
            <p>We have got an error: {{ error }}</p>
            <hr>
            {% if session.logged_in %} 
                {% if session.no_post %}  
                <a href="/new_post"> What's happening? Start Adding by a new post!! </a>
                {% else %}
                <a href="/home"> Go back to Home Page!!</a>
                {% endif %}            
            {% else %}
            <a href="/login"> Go back to Login Page. Please Login first! </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
		